<nav class="nav-bar">
  <div class="nav-home">
    <a 
    id="home" 
    href="#"> 
      <img
      class="mainLogo" 
      src="/assets/img/code.png"
      alt=""
      >
    </a>
  </div>
  <div class="nav-bar_item">
    <ul>
      <li>
        <a id="certificacoes">Certificações</a>
      </li>
      <li>
        <a [routerLink]="['/projetos']" id="projects">Projetos</a>
      </li>      
      <li>
        <a id="skills" href="#">Habilidades</a>
      </li>
      <li>
        <a id="contact" href="#">Contatos</a>
      </li>
    </ul>
  </div>
  <div class="perfil">
    <img src="/assets/img/eu1.jpg" alt="">
  </div>
</nav>