<div class="home-content">
  <div class="infos">
    <h1 class="typing-h1">Olá, eu sou o</h1>
    <span class="typing-span"> Bruno Moreira :)</span>
    <p>Desenvolvedor Full-Stack</p>
    <div class="actions">
      <a href="" class="cv">Download CV</a>    
      <a href="" class="mycontact">Entrar em contato</a>
    </div>
  </div>
  <div class="img">
    <img src="/assets/img/eu2.png" alt="">
  </div>
</div>
<div class="about-me">
  <h2>Sobre Mim</h2>
  <p>
    Desenvolvedor FullStack com experiência em C#, Python, JavaScript. Possuo conhecimento em Node.Js, TypeScript, Styled Components econsumo de APIs REST. Apaixonado pelo desenvolvimento de componentes reutilizáveis. Formado em Ciência da computação pela Faculdade Impacta Tecnologia.
  </p>
</div>